<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Test Suite" verbose="1">
    <test name="Cucumber Scenarios">
        <classes>
            <!-- Replace with your actual test runner class -->
            <class name="TestRunner.TestRunner.java" />
        </classes>
    </test>
</suite>
